.teste{
    background-color:white;
    height: 100vh;
    width: 100vw;
}

.botoesfundo{
    position: fixed;
    background-color:deepskyblue !important;
    border-radius: 50px !important;

}

.Topo{
    background-color:deepskyblue;
    height:20vh;
    width: 100vw;

    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Fundo{
    background-color:cadetblue;
    height:10vh;
    width:100vw;
}

.Meio{
    background-color: cornflowerblue;
    width: 100vw;
    height:30vh;
}


.rodape{
    background-color:#3f51b5;
}

.Cabecalho{
    font-family:"Verdana, Geneva, Tahoma, sans-serif";
    text-align:center;
    font-size: xx-large;
}

.Centro{
    height: 00vh;
    width:100vh
}