.teste{
    background-color:white;
    height: 100vh;
    width: 100vw;
}

.botoesfundo
{
    position: fixed;
    background-color:deepskyblue !important;
    border-radius: 50px !important;

}

.grid-container{
    background-color: burlywood;
    margin: 10px;

    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 100px 300px 100px;
    grid-gap: 20px;
    text-align: center;

}

.Caixa{
    background-color:deepskyblue;
}

.Meio{
    background-color: cornflowerblue;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 150px;
    grid-gap: 20px;
}


.rodape{
    background-color:#3f51b5;
}

.Cabecalho{
    font-family:"Verdana, Geneva, Tahoma, sans-serif";
    text-align:center;
    font-size: xx-large;
}

.Centro{
    height: 00vh;
    width:100vh
}