.teste{
    background-color:white;
    height: 100vh;
    width: 100vw;
}

.botoesfundo
{
    position: fixed;
    background-color:deepskyblue !important;
    border-radius: 50px !important;

}

.grid-container{
    background-color: burlywood;

    margin: 10px;

    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 50px repeat(2,minmax(100px, auto)) 50px;
    grid-gap: 20px;
    text-align: center;

}

.CaixaHeader{
    background-color:deepskyblue;
}
.CaixaContent{
    background-color:deepskyblue;

}
.CaixaSidebar{
    background-color:deepskyblue;

}
.CaixaEnd{
    background-color:deepskyblue;
}


.rodape{
    background-color:#3f51b5;
}

.Cabecalho{
    font-family:"Verdana, Geneva, Tahoma, sans-serif";
    text-align:center;
    font-size: xx-large;
}

.Centro{
    height: 00vh;
    width:100vh
}